#box{

    background-color: aqua;
    color:red;
}
p{
    text-align:center;
    line-height: 45px;
    font-family: 'arial';
}
h1{
    font-weight: 100;
    text-decoration: line-through
}

a{
    text-decoration: wavy underline;
}